<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <ul>
                <h4>Resources</h4>
                <li><a href="">Terms of Use</a></li>
                <li><a href="">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-ms-3 col-sm-4 col-xs-6">
            <ul>
                <li></li>
            </ul>
        </div>
        <div class="col-lg-2 col-ms-3 col-sm-4 col-xs-6">
            <ul>
                <li></li>
            </ul>
        </div>
        <div class="col-lg-2 col-ms-3 col-sm-6 col-xs-6">
            <ul>
                <h4>About</h4>
                <li><a href="">News</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-ms-6 col-sm-4 col-xs-12">
            <ul class="footer-links social-buttons">
                <h4>Connect</h4>
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
            </ul>
            <br />
            <ul>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="row copyright">
        <section class="footer-network">
            <span>Copyright &copy; @DateTime.Now.Year - My App. All rights reserved.</span>
        </section>
        <section class="footer-site">
            <a href="">
                <span class="fa fa-2x fa-cogs"> My App</span>
            </a>
        </section>
    </div>
    <!-- row -->
</div>
<!-- container -->