<!-- ko with: home -->
<div class="jumbotron quartz hero-walkthrough hero-main">
    <div class="container">
        <div class="bg-video">
            <div class="texture"></div>
            <video preload="auto" autoplay="autoplay" loop="loop">
                <source src="http://xfire.com/vid/intro2.mp4" type="video/mp4" />
                <source src="http://xfire.com/vid/intro2.webm" type="video/webm" />
            </video>
        </div>
        <div class="inner">
            <div class="row">
                <h2 class="feature-hero text-center">ASP.NET</h2>
                <h3 class="lead text-center sub features-hero-sub">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</h3>
            </div>
            <div class="row text-center">
                <a href="http://asp.net" class="btn btn-primary btn-learn">Learn more &raquo;</a>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <section id="" class="row">
        <div class="inner">
            <div class="col-md-4">
                <h2>Your information</h2>
                <p>This section shows how you can call ASP.NET Web API to get the user details.</p>
                <p data-bind="text: myHometown"></p>

                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
            </div>

            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript.
                    It's now easier than ever before to getting started writing highly interactive web applications.
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
            </div>

            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </section>
</div>

<!-- /ko -->