@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using Project_Thoth.Areas.AdminPanel.Models

<link type="text/css" href="~/Content/admin.css" rel="stylesheet" />
<header class="admin-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="admin-page">
    <nav id="sidebar" class="sidebar" role="navigation">
        <div class="slimScrollDiv" style="position:relative;overflow:hidden;width:auto;height:961px;">
            <div class="js-sidebar-content" style="overflow:hidden;width:auto;height:961px;">
                <header class="logo">
                    <p>Admin Test</p>
                </header>
            </div>
            <div class="sidebar-status">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                </a>
            </div>
            <ul class="sidebar-nav"></ul>
            <div class="slimScrollBar" style="width: 4px; position: absolute; top: 0; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 961px; background: rgb(0, 0, 0);"></div>
            <div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
        </div>
    </nav>
    <nav class="page-controls navbar navbar-admin navbar-admin-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="hidden-sm hidden-xs" href="#" data-sn-action="toggle-navigation-state" data-tooltip data-original-title="Tuen on/off sidebar collapsing">
                            <i class="fa fa-bars fa-lg"></i>
                        </a>
                        <a class="visible-sm visible-xs" href="#" data-sn-action="toggle-navigation-state" data-tooltip data-original-title="Show/hide sidebar">
                            <span class="rounded rounded-lg bg-gray text-white visible-xs">
                                <i class="fa fa-bars fa-lg"></i>
                            </span>
                            <i class="fa fa-bars fa-lg hidden-xs"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right visible-xs">
                    <li>
                        <a href="#" data-sn-action="toggle-chat-sidebar-state">
                            <span class="rounded rounded-lg bg-gray">
                                <i class="fa fa-globe fa-lg"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <a class="navbar-brand visible-xs" href="#">
                    <i class="fa fa-circle text-gray"></i>
                    <i class="fa fa-circle text-warning"></i>
                    PlayTime
                    <i class="fa fa-circle text-warning"></i>
                    <i class="fa fa-circle text-gray"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <div class="input-group input-group-no-border">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input class="form-control" type="text" placeholder="Search Dashboard" />
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" data-dropdown>
                        <a href="" class="dropdown-toggle" data-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog fa-lg"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Settings", "Settings")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-sn-action="toggle-chat-sidebar-state">
                            <i class="fa fa-globe fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="content-wrap">
        <main id="content" class="content" role="main">
        </main>
    </section>
</div>